.card {
  width: 200px;
  // padding: 15px;
  border: 1px solid;
  margin: 10px;
  // background: 
}

.favorite-button {
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  width: 60px;
}

p {
  color: #FFFFFF;
  padding: 5px;
  margin: 0px;
}

h4 {

}