

button {
  // display: inline-block;
  width: 200px;
  padding: 15px;
  background-color: #000000;
  color: #FFD700;
  border: 2px solid #FFD700;
  margin: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  color: #000000;
  background-color: #FFD700;
}