@import url('https://fonts.googleapis.com/css?family=Gugi');

@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

$star-wars-yellow: #FFD700;

body {
  font: 700 1em "Gugi", sans-serif;
  background-image: url('./SWAPI-bg.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $star-wars-yellow;
}

h1 {
  color: white;
  font-size: 50px;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
